<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

      <h1>Listing Forum Threads</h1>

      <%= link_to 'New Forum thread', new_forum_thread_path, class:'btn btn-primary' %>

      <!-- looping -->
      <% @forum_threads.each do |thread| %>
        <div class="thread">
          <h3><%= link_to thread.title.titleize, forum_thread_path(thread) %></h3>
          <div class="date">
            <%= thread.created_at %> oleh <%= thread.user.name %>
          </div>
          <div class="content">
            <%= thread.content %>
          </div> 
          <div class="comment">
            <%= thread.forum_posts.count %> comment
          </div> 
        <div style="clear: both;"></div>
        </div>
      <% end %>

  </div>
  
</div>


